<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
      <img style="border-radius: 50%;width:128px;height:128px;margin:0 auto;" src="/public/coderzh.jpg"></img><br/>
      <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">首页</a>
    <a class="sidebar-nav-item" href="http://coderzh.cnblogs.com">原技术博客</a>{% assign pages_list = site.pages | sort:"url" %} {% for node in pages_list %} {% if node.title != null %} {% if node.layout == "page" %}
    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a> {% endif %} {% endif %} {% endfor %}
    <a class="sidebar-nav-item" href="{{ site.baseurl }}feed.xml">订阅</a>
  </nav>

  <div class="sidebar-item">
    <p>
    &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
