---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div style="border: 1px dashed #e0e0e0; padding: 10px 10px 0px 10px; background-color: #fffeee; -moz-background-size: auto auto; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-size: 16px;">
<p style="float:left;margin-bottom:0;margin-right:1rem;">
    <img style="margin:0;" src="http://blog.coderzh.com/public/qrcode.jpg" width="129px" height="129px"/>
</p>
<div>
<p>作者：<a target="_blank" href="http://blog.coderzh.com/">CoderZh</a>（<a target="_blank" href="http://blog.coderzh.com/">一个程序员的思考</a>）<br />微信关注：hacker-thinking
<br />出处：<a target="_blank" href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a>
<br />文章版权归本人所有，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文连接，否则保留追究法律责任的权利。 </p>
</div>
</div>

<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"coderzh"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>

<div class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
